<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-violet-200">
    <header class="p-3 flex items-center justify-between border border-b-zinc-500">
        <h1 class="logo text-xl font-bold">Restaurant Management System</h1>
        <div>
            <a href="/signup" class="bg-green-500 rounded-md p-2">Signup</a>
            <a href="/login" class="bg-green-500 rounded-md p-2">Login</a>
        </div>
    </header>
    <main class="p-3">
        <h1 class="text-2xl ">Special Menus</h1>
        <p class="mt-10 w-[60%] text-xl">
            RESTAURANT MANAGEMENT SYSTEM, designed to simplify and optimize every aspect of
            your restaurant operations. From handling table reservations, order processing, and billing to managing
            inventory, staff, and kitchen workflows, DineFlow offers a seamless and intuitive platform that boosts
            efficiency and enhances customer service. With powerful real-time analytics, multi-branch support, and easy
            integration with payment systems, it empowers restaurant owners and managers to make informed decisions and
            run their businesses smoothly. Whether you operate a small café, a food truck, or a large franchise,
            DineFlow adapts to your needs and helps you deliver an exceptional dining experience.
        </p>
        <a href="/login" class="bg-green-500 rounded-md inline-block mt-10 p-2">Login</a>
        </div>
    </main>
</body>

</html>